
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRUPER | CAM - Esquema</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='esquema.css') }}">
</head>
<body>

  <header class="encabezado">
    <h1>TRUPER</h1>
    <h2>Esquema del Site</h2>
  </header>

  <section class="contenido">
    <div class="panel-esquema">

      <button id="btn-toggle" class="btn-despliegue">Ver Esquema</button>

      <div id="rack-container" class="oculto">
        <div class="botones-laterales">
          <button id="open-modal-btn" class="btn-lateral">DVR-JIL-C5</button>
          <button class="btn-lateral">U5-U8</button>
          <button class="btn-lateral">U9-U12</button>
          <button class="btn-lateral">U13-U16</button>
        </div>

        <div class="imagen-wrapper">
          <img src="{{ url_for('static', filename='img/rack-example2.jpg') }}" alt="Esquema de un rack de servidores.">
        </div>

        <div class="botones-laterales">
          <button class="btn-lateral">U17-U20</button>
          <button class="btn-lateral">U21-U24</button>
          <button class="btn-lateral">U25-U28</button>
          <button class="btn-lateral">U29-U32</button>
        </div>
      </div>

    </div>
  </section>

  <!-- The Modal -->
  <div id="image-modal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <img src="{{ url_for('static', filename='img/s.jpg') }}" alt="Imagen ampliada" style="width:100%">
    </div>
  </div>

  <div class="volver-home">
    <a href="{{ url_for('home') }}" class="btn-casita" title="Volver al inicio">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
        <path d="M12 3l9 8h-3v9h-4v-6H10v6H6v-9H3l9-8z"/>
      </svg>
    </a>
  </div>

  <footer class="pie">
      <p>&copy; 2025 TRUPER | CAM. Todos los derechos reservados.</p>
  </footer>

  <script src="{{ url_for('static', filename='js/esquema.js') }}"></script>
</body>
</html>
